extends layout

block variables
  - var title = "Home"

block content
  h2.text-center Akadimia Connect

  //.row
  //  .offset-sm-2.col-sm-8
  //    .jumbotron.text-center.
  //      Welcome to Akadimia Connect!
